@media print {
    @page {
        margin: 0;
    }

    body {
        margin: 0;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    body * {
        visibility: hidden;
    }

    #print-area,
    #print-area * {
        visibility: visible !important;
    }

    #print-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        box-sizing: border-box;
        background: white;
    }

    .no-print {
        display: none !important;
    }
}

.basic-rte ul {
    list-style-type: disc;
    margin-left: 1.5rem;
}

.basic-rte ol {
    list-style-type: decimal;
    margin-left: 1.5rem;
}

.basic-rte li {
    margin-bottom: 0.1rem;
}

.description {
    padding-left: 12px;
}

.description ol {
    list-style-type: decimal;
}

.description ul {
    list-style-type: disc;
}

.description li {
    list-style-type: disc;
    margin-left: 12px;
}
